<h3>
  Access Levels
</h3>
<hr>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm">

      <div class="spotlight-search">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text" id="addAccess"><img src="../assets/icons/add-24px.svg" alt="Add"></div>
        </div>
        <input type="text" class="form-control" placeholder="Spotlight Search" aria-label="Spotlight Search" id="spotlight-search"
       [(ngModel)]="searchText">
      </div>
      </div>

      <table class="table table-bordered">
        <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Reader Type</th>
          <th scope="col">Reader</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let accessLevelData of (readerData | tableFilter : searchText)" (click)="displayTable(accessLevelData)" id="accessLevelData">
          <td>{{accessLevelData.name}}</td>
          <td>{{accessLevelData.readerTypeName}}</td>
          <td>{{accessLevelData.readerName}}</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="col-sm">
      <h4>Access Names</h4>
     <div>
       <form [formGroup]="profileForm">
         <div class="form-group row">
           <label class="col-sm-2 col-form-label">Name:</label>
           <div class="col-sm-10">
             <input type="text" class="form-control" placeholder="Name"  formControlName="name">
           </div>
         </div>

         <div class="form-group row">
           <label class="col-sm-2 col-form-label">Description:</label>
           <div class="col-sm-10">
             <textarea type="text" class="form-control" placeholder="Description"  formControlName="description" rows="5" ></textarea>
           </div>
         </div>

         <div class="form-group row">
           <label class="col-sm-2 col-form-label">Reader(s):</label>
           <div class="col-sm-10">
             <select class="form-control" id="readerID" formControlName="reader">
               <option selected>All Reader Groups</option>
               <option *ngFor="let readerName of readerData">{{readerName.readerName}}</option>
             </select>
           </div>
         </div>

         <button type="submit" (click)="saveFormData(profileForm)">Save</button>
         <button type="submit" (click)="generateAccessForm()">Cancel</button>
       </form>
    </div>
  </div>
</div>
</div>
